/target
/debian/.debhelper/
/debian/debhelper-build-stamp
/debian/files
/debian/*.substvars
/debian/kitty-launcher/
*.deb
*.ddeb
*.changes
*.buildinfo
*.tar.gz

# Allow devcontainer configuration to be committed
!.devcontainer/
